/* Jayden Skyy Zarate */
/* please make sure you change the name of this file to styles.css */
/* Global Styles */

h1 {
    text-align:center;
    border: 2px solid darkblue;
}
* {

    margin: 10;
    padding: 10;
    box-sizing: border-box;
    }
    body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    max-width: 8000px;
    margin: 2 cen;
    padding: 10px;
    position: relative;
    }
    /* Background Image with Transparency */
    /* need position: fixed; and top: 0; left: 0; */
    body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    }
    body {
        background-image: url(hawaii-beach-night-1copy.jpg);
        font-family: Arial, 
    }
    
    h1 {
        text-align:center;
        border: 2px solid grey;
    background-color: rgba(158, 159, 146, 0.77)
    
    }

 li:hover{
    
    transform: translateX(10px); 
 }
 
 img {
    
    max-width: 300px;
    padding: 10px;
    background-color: rgba(158, 159, 146, 0.77) }

    ul {
        list-style-type: disc; /* Default bullet point */
        border: 2px solid grey}
    ul    {
        border: 2px solid grey;
    background-color: rgba(158, 159, 146, 0.77)
      }

footer {
    background-color: rgba(158, 159, 146, 0.77);
}







